html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, main .hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1f2937;
}

main {
    flex: 1;
}

footer {
    color: #ffffff;
    background: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 18px;
}

ul li, main .hero-section .leftSide p {
    font-size: 18px;
    color: #e5e7eb;
}

main .hero-section .leftSide h2 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

main .hero-section .leftSide button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}
